body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.container {
	padding-top:50px;	
}
.options {
	padding: 20px 20px 20px 20px;
	width: 300px;
}
.search {
	padding-top:50px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
}
.portfolio-item {
    margin-bottom: 25px;
    height: 450px;
}

footer {
    margin: 50px 0;
}