{% load staticfiles %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'index' %}">Movie Manager</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'movies' %}">Movies</a></li>
				<li><a href="{% url 'favorites' %}">Favorite movies</a></li>
				<li><a href="{% url 'watched' %}">Watched movies</a></li>
				<li><a href="{% url 'wished' %}">Wished movies</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<!--li><a href="#">Settings</a></li>
						<li role="separator" class="divider"></li-->
						<li><a href="{% url 'login' %}">Log out</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<h1>Welcome to our Movie Manager Django application</h1>

{% if search_bar %}
<div class="row">
  <div class="search">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters <span class="caret"></span></button>
        <div class="dropdown-menu dropdown-menu-left options" role="menu">
            <form class="form-horizontal" role="form">
			{% csrf_token %}
              <div class="form-group">
                <label for="filter">Date</label>
                <select class="form-control">
                	{% for year in year_list %}
                    	<option value="{{year}}">{{ year }}</option>
					{% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="contain">Type</label>
                <input class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary">
              	Search
              	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </form>
        </div>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="..." placeholder="Search by title and description ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% endif %}

<div class="row" style="padding-top:50px;">
	{% if movie_list %}
		{% for movie in movie_list %}
		    <div style="text-align:center;padding-bottom:30px;" class="col-md-4 portfolio-item">
		        <a href="{% url 'movie' movie.id %}">
		            <img style="margin-left:auto;margin-right:auto;" class="img-responsive" src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="">
		        </a>
		        <h3>
		            <a href="{% url 'movie' movie.id %}">{{ movie.title | truncatechars:28 }}</a>
		        </h3>
		        <p>Release date : {{ movie.release_date }}</p>
		        <p>Vote average : {{ movie.vote_average }}</p>
		        <p style="text-align:justify;">Description : {{ movie.overview | truncatechars:130 }}</p>
		    </div>
		{% endfor %}
	{% else %}
		<p>No movies are available.</p>
	{% endif %}

</div>
<!-- /.row -->


</body>